[Unit]
Description=Gunicorn service
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/main_app
ExecStart=/usr/bin/gunicorn3 --workers 3 --bind unix:main_app.sock -m 007 main:app
Restart=always

[Install]
WantedBy=multi-user.target
